MONGODB_URI=
MONGODB_DB_NAME=numelixa

SMSACTIVATE_API_KEY=

CRYPTOMUS_MERCHANT_ID=
CRYPTOMUS_PAYMENT_API_KEY=
COINS_PER_USD=100
PRICE_MARKUP_PERCENT=25

SPACEMAIL_SMTP_HOST=mail.spacemail.com
SPACEMAIL_SMTP_PORT=465
SPACEMAIL_SMTP_USER=
SPACEMAIL_SMTP_PASSWORD=
SPACEMAIL_FROM=

ADMIN_EMAIL=
ADMIN_PASSWORD=

NEXT_PUBLIC_APP_URL=
